@import '../../scss/colors';
@import '../../scss/mixins';

/* global styles (antd) */
.header {
  &.ant-layout-header {
    color: $white;
    padding: 0 2rem;
  }
  
  .ant-menu-item .anticon {
    margin:0;
  }
}

/* module styles */
.header-title {
  font-size: 1.4rem;
  font-weight: 400;
  color: $white;
}

.header-menu {
  height: 100%;
  vertical-align: center;
  float: right;
  display: flex;
  align-items: center;
}

.header-user {
  border-bottom: 0 !important;

  > span {
    margin-left: 0.3rem;
  }
}

.user-menu-btn {
  .ant-avatar {
    margin-right: 8px;
    background: $menu-bg;
  }
  .user-label {
    color: $white;
  }
}

.row-header {
  height: 100%;

  .ant-col {
    height: 100%;
  }
}
