$black: #000;
$blue: #1890ff;
$gold: #ffd700;
$gray-border: #ccc;
$primary-color: #1890ff;
$red: #ff0000;
$white: #fff;
$lighter-gray: #efefef;
$light-gray: #d3d3d3;
$gray: #d8d8d8;
$gray-background: #f0f2f5;
$alice-blue: #f3f9ff;
$navy-blue: #111e6C;
$disabled-gray: rgba(0, 0, 0, 0.45);
$black-gray: #333333;
$success: #52c41a;
$expanded-row-background: #fbfbfb;
$active-tab: #1890ff;
$alabaster: #fafafa;
$mercury: #e8e8e8;
$gallery: #eaeaea;
$menu-bg: #001529;
