// rem font size with pixel fallback
@function calculate-rem($size) {
  $rem-size: $size / 16px;
  @return $rem-size * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculate-rem($size);
}

@mixin card-title {
  .ant-card-body {
    .ant-typography {
      @content;
    }
  }
}