@import '../colors';

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-left-15 {
  margin-left: 15px;
}

.full-width {
  width: 100%;
}

.margin-0-auto {
  margin: 0 auto;
}

.ant-table-wrapper {
  &.clickable-row {
    .ant-table-row {
      cursor: pointer;
    }
  
    .ant-table-expanded-row {
      .ant-table-row {
        cursor: unset;
      }
    }
  }
}

.modal-custom-footer {
  display: flex;
  justify-content: flex-end;
  button {
    margin-left: 15px;
  }
}

.blue {
  color: $blue;
}

.cursor-pointer {
  cursor: pointer;
}

.full-width {
  width: 100% !important;
}
