html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-layout {
  min-height: 100vh;
}

.ant-layout-content {
  width: 100%;
  margin: auto;
  padding: 2rem 0;
  max-width: 1200px;
}

.ant-card {
  border: 0;
  border-radius: 5px;
}

.login-spiner {
  padding: 32px;
  height: 100vh;
}

.row-click {
  .ant-table-row {
    &:hover {
      cursor: pointer;
    }
  }
}
